:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #242424;
  background-color: rgba(230, 230, 230, 1);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: monospace;
  font-size: 20px;
}

button, a {
  margin: 0;
  padding: 0;
  font-family: monospace;
  font-size: 20px;
}

a, button {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

#root {
  min-height: 100vh;
}