.text {
    font-size: medium;
}

.error {
    font-size: small;
    color: red
}

.visitor_label {
    margin-top: 5%;
    border: 2px solid #242424;
    border-radius: 10px;
    padding: 10px;
}

.img {
    width: 200px;
    height: auto;
}

.button {
    font-size: large;
    display: inline;
    margin-top: 10px;
    min-height: 30px;
    min-width: 10%;
    padding: 10px;
    border-radius: 10px;
    box-sizing: border-box;
    color: #242424;
    border: 2px solid #242424;
    position: relative;
    background-color: rgba(255, 255, 255, 0.87);
}

button:disabled {
  color: rgba(0, 0, 0, 0.5);
  cursor: not-allowed;
}

.border {
    border: 2px solid #242424;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
}

